<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite to index.html" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="/index.html" appendQueryString="true" logRewrittenUrl="true" />
                    <conditions>
                        <add input="{PATH_INFO}" pattern=".*\..*" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>